@model Inmobiliaria_.Net_Core.Models.Alquiler

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar alquiler</h1>

<h4><a asp-action="Index">Cancelar</a></h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdContrato" />
            <div class="form-group">
                <p>Desea finalizar el Contrato de Alquiler entre el Locador <b> @ViewBag.trato </b> ?.</p>
                                                                         <p>Se le cobrará una multa.</p>
            </div>
            <div class="form-group">
                <hr />
                <input type="submit" value="Finalizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}