@{
    ViewData["Title"] = "Index";
    TempData["id"] = null;
}   <div class="row">
    <div class="col">
        <img src="https://tuinmobiliariauio.com/wp-content/uploads/2018/05/TU-INMOBILIARIA-LOGO-e1526066127321.png" class="d-block w-100" alt="home">
    </div>
</div>